@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";
@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Yellowtail';
  src: url('./fonts/Yellowtail.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url('./fonts/BebasNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}